style "gedit-frame"
{	
	engine "pixmap"
	{
 		image
		{
			function = SHADOW
                	file = ""
		}
	}
}

style "encodings-combobox" {
	xthickness = 0
	ythickness = 0
}

style "pathbar"
{
	xthickness = 3
	ythickness = 4
	
	GtkButton::child-displacement-y		= 0
	GtkButton::inner-border			= { 0, 11, 0, 0}

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "/nautilus/breadcrumb_prelight.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}		
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= INSENSITIVE
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= SELECTED
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	}
}

style "left-slider"
{
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image
		{
			function 		= BOX
			file			= "/nautilus/left_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}

}

style "right-slider"
{	
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image
		{
			function 		= BOX
			file			= "/nautilus/right_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}
}

widget_class "*Gedit*.<GtkFrame>*"     			style "gedit-frame"
widget_class "*Gedit*.<GtkScrolledWindow>"     		style "murrine-thin"
widget_class "*Gedit*.<GtkArrow>*"     			style:highest "murrine-default"
widget_class "*<GeditEncodingsComboBox>*"     		style "encodings-combobox"

#widget_class "*GeditFileChooserDialog*GtkPathBar*.*ToggleButton*"     	style "pathbar"
#widget "GeditFileChooserDialog*GtkPathBar*GtkButton*"			style "left-slider" 
#widget "GeditFileChooserDialog*GtkPathBar*right_slider*"		style "right-slider"




