# ==============================================================================
# GNOME PANEL SPECIFIC SETTINGS
# ==============================================================================

style "panel" = "dark"
{
	xthickness = 0
	ythickness = 0

	bg_pixmap[NORMAL] = "Panel/panel-dark.png"
	bg[NORMAL] = "#4b4a46"

	engine "murrine" {
		#contrast = 1.0
		textstyle = 2
		text_shade = 0.35
	}
}



#widget_class "*Panel*"            style "panel"
widget "*PanelWidget*"            style "panel"
widget "*PanelApplet*"            style "panel"
widget "*fast-user-switch*"       style "panel" # workaround for Fast User Switch applet
widget "*CPUFreqApplet*"          style "panel" # workaround for CpuFreq Applet
class "PanelApp*"                 style "panel"
class "PanelToplevel*"            style "panel"
#widget_class "*Mail*"             style "panel"
widget_class "*notif*"            style "panel"

#widget_class "*?anel*utton"       style "panel_task_button" # causing problems to monodevelop
#widget "*task*"                   style "panel_task_button"
#widget "*.tasklist-button"        style "panel_task_button"
#widget "*PanelApplet*TaskTitle*"  style "panel_task_button"
