style "gedit-frame" {
	ythickness = 2
	
	engine "pixmap"
	{
 		image
		{
			function = SHADOW
                	file = ""
		}
	}
}
widget_class "*Gedit*.<GtkFrame>*"     			style "gedit-frame"

style "encodings-combobox" {
	xthickness = 1
	ythickness = 1
}
#widget_class "*<GeditEncodingsComboBox>*"     		style "encodings-combobox"

style "combobox" {
#	xthickness = 3
	ythickness = 10
}
#widget_class "*GtkFileChooser*.*GtkComboBox*"	style "combobox"

style "pathbar"
{
	xthickness = 3
	ythickness = 4
	
	GtkButton::child-displacement-y		= 0
	GtkButton::inner-border			= { 0, 11, 0, 0}

	engine "pixmap"
	{	
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= PRELIGHT
			file				= "/nautilus/breadcrumb_prelight.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}		
	  
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= NORMAL
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
		
		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= ACTIVE
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= INSENSITIVE
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		} 

		image
		{
			function        	= BOX
			recolorable     	= TRUE
			state				= SELECTED
			file				= "/nautilus/breadcrumb_normal.png"
			border				= { 3, 13, 3, 3 }
			stretch         	= TRUE
		}
	}
}
#widget_class "*GeditFileChooserDialog*GtkPathBar*.*ToggleButton*"     	style "pathbar"

style "left-slider"
{
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image
		{
			function 		= BOX
			file			= "/nautilus/left_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}
}
#widget_class "GeditFileChooserDialog*GtkPathBar*GtkButton*"			style "left-slider" 

style "murrine-gedit-historyentry" {
	xthickness = 4
	ythickness = 3

	GtkComboBox::arrow-size = 12
	GtkComboBox::appears-as-list = 0

	GtkComboBox::shadow_type = GTK_SHADOW_NONE
}
#widget_class "*Gedit*HistoryEntry*"         		style "murrine-gedit-historyentry"

style "murrine-gedit-historyentry-button" {
	xthickness = 0
	ythickness = 0

	GtkButton::inner-border = {2, 1, 1, 1}
}
#widget_class "*Gedit*HistoryEntry*GtkButton*"		style "murrine-gedit-historyentry-button"

style "right-slider"
{	
	xthickness = 0
	ythickness = 0
	
	engine "pixmap"
	{
		image
		{
			function 		= BOX
			file			= "/nautilus/right_slider_normal.png"
			border			= { 3, 3, 3, 3 }
			stretch			= TRUE
		}
	}
}
#widget_class "GeditFileChooserDialog*GtkPathBar*right_slider*"		style "right-slider"

style "gedit-notebook" {
	xthickness		= 1
	ythickness		= 0

	bg[NORMAL]	= @base_color
	#bg[PRELIGHT]	= @base_color
	#bg[ACTIVE]	= @selected_bg_color
	bg[INSENSITIVE] = @base_color
	bg[SELECTED]	= @base_color

	engine "murrine" {
		roundness = 10
		contrast = 0.5
	}
}
widget_class "*GeditNotebook*"				style "gedit-notebook"


widget_class "*Gedit*.<GtkScrolledWindow>"    		style "murrine-thin"
widget_class "*Gedit*.<GtkArrow>*"     			style:highest "murrine-default"

style "gedit-scrolledwindow" {
	xthickness = 1
	ythickness = 1
}
widget_class "*GeditFileChooserDialog*.<GtkScrolledWindow>"     style "gedit-scrolledwindow"


style "gedit" {
	GtkComboBox::appears-as-list = 0
}
widget_class "*Gedit*"     			style "gedit"
