
[Desktop Entry]
Type=X-GNOME-Metatheme
Name=unified
Comment=unified desktop theme
Encoding=UTF-8


Name[de_AT]=unified

[X-GNOME-Metatheme]
GtkTheme=unified
MetacityTheme=elementary
IconTheme=elementary
CursorTheme=DMZ-Black
ButtonLayout=close,minimize,maximize:
